#artist_container
  #artist_header
    .name
      = link_to artist.name, google_search(artist.name)
  #artist_song
    %iframe{src: artist.defualt_embedded_song_url, allowfullscreen: true}
  #voters
    = render voters