input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  font-size: $secondary-font-size;
  color: black;
}

input[disabled], input[readonly]{
}

label {
  font-size: $secondary-font-size;
  color: $text-color;
}

a {
  color: white;
}
