#main-header {

 background-color: $purple;

 li div {
  padding: 15px 15px;
 }

  .purple {
    background-color: $purple;

    &.open > a {
      background-color: $purple;
    }
  }

  .orenge {
    background-color: $orenge;
    margin: 0 5px;
    text-align: center;

     a {
      color: white;
    }

    &.open > a {
      background-color: $orenge;
    }
  }

  .grey {
    margin: 0 5px;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.9);

     a {
      color: white;
    }

    &.open > a {
      background-color: rgba(100, 100, 100, 0.9);
    }
  }

  .pink {
    background-color: $pink;

    a {
      color: white;
    }

    p {
      margin-bottom: 7px;
    }
  }

  .dropdown {
    width: 180px;
    height: 100px;
  }

  h1 {
    font-family: NeoSansStd-Light;
    color: white;
    margin-right: 50px;
  }

  .dropdown-toggle {

    text-align: center;

    color: white;

    p {
      margin: 5px 0 0 0;
    }
  }

  .dropdown-menu li a p {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
  }
}
