@import "modules/settings";
@import "modules/colors";
@import "modules/typography";

@import "components/titles";
@import "components/tables";
@import "components/help_popovers";
@import "components/box";
@import "components/links";
@import "components/inputs";
@import "components/site_menu";

@import "font-awesome";

@import "artists";
@import "duels";

html,
body {
  font-family: NeoSansStd-Regular;
  color: $text-color;
  background-color: $background-color;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  font-family: NeoSansStd-Regular;
}

.signin-button {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#wrap {
  margin: 0 auto 0;
}

#wrap > .container {
  padding: 110px 15px 0;
}

.center {
  margin: 0 auto;
}
.main-section {
  margin-top: 7.35em;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}


.table-striped tbody tr:nth-child(odd):hover td {
   background-color: #F9F9F9;
}