@import "modules/settings";
@import "modules/colors";
@import "modules/typography";

@import "components/titles";
@import "components/tables";
@import "components/help_popovers";
@import "components/box";
@import "components/links";
@import "components/inputs";
@import "components/site_menu";

@import "font-awesome";

@import "artists";
@import "duels";

html,
body {
  font-family: NeoSansStd-Regular;
  color: $text-color;
  background-color: $background-color;
  height: 100%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  font-family: NeoSansStd-Regular;
  color: #777777;
}

.signin-button {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#wrap > .container {
  padding: 110px 15px 0;
}

.center {
  margin: 0 auto;
}
.main-section {
  margin-top: 125px;
}
