// Place all the styles related to the Duels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#duel_container {
  #header {
    text-align: center;
  }

  #duel_options {
    position: relative;

    &:after {
      content: "";
      clear: both;
    }
    .duel-option {
      width: 35%;
      
      .vote {
        width: 15%;
        margin: 1em auto;

        input {
          width: 100%;
        }
      }
    }
  }
}
.container {
  // background-image: image-url("mortal_combat_background.jpg");
}
.duel-bar {
  background-color: #1a1a1a;
  height: 35px;
  padding: 5px;
  width: 350px;
  margin: 50px 0;         
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
  margin-top: 400px;
  float: left;

  span {
    display: inline-block;
    float: left;
    height: 100%;
    border-radius: 0;
    box-shadow: 0 3px 3px rgba(255, 255, 255, .7) inset, 0 -3px 3px rgba(255, 255, 255, .7) inset;    
    transition: width .4s ease-in-out;    
    text-align: center;
    color: white;
    padding-top: 3px;

  }
  .orange {
    background-color: #fecf23;
  }
  .blue {
    background-color: #34c2e3;   
  }
}
.ui-helper-hidden-accessible { display:none; }
#dead-line-picker {
  width: 20em
}

// .ui-autocomplete {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   z-index: 1000;
//   float: left;
//   display: none;
//   min-width: 160px;
//   _width: 160px;
//   padding: 4px 0;
//   margin: 2px 0 0 0;
//   list-style: none;
//   background-color: #ffffff;
//   border-color: #ccc;
//   border-color: rgba(0, 0, 0, 0.2);
//   border-style: solid;
//   border-width: 1px;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   border-radius: 5px;
//   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   -webkit-background-clip: padding-box;
//   -moz-background-clip: padding;
//   background-clip: padding-box;
//   *border-right-width: 2px;
//   *border-bottom-width: 2px;
 
//   .ui-menu-item > a.ui-corner-all {
//     display: block;
//     padding: 3px 15px;
//     clear: both;
//     font-weight: normal;
//     line-height: 18px;
//     color: #555555;
//     white-space: nowrap;
    
//     .ui-menu .ui-menu-item a.ui-state-hover,
//     .ui-menu .ui-menu-item a.ui-state-active {
//       font-weight: normal;
//       margin: -1px;
//       border-radius: 0px;
//       -webkit-border-radius: 0px;
//       -moz-border-radius: 0px;
//       background-image: none;
//       color: #ffffff;
//       text-decoration: none;
//     }
//   }
// }
