.duel_container {
  margin: 0 0;

  .duel-header {
    text-align: center;
    color: white;
    font-size: 3em;
    font-weight: normal;
  }
  .duel_options {
    .duel-option {
      padding: 0;
    }
  }
  .options-container{
    position:relative;
  }
  .deadline-container {
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 44%;
    width: 12%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    .deadline {
      line-height: 2.6em;
      font-size: 2.5em;
      color: white;
    }
  }
  .vs-container {
    position: absolute;
    z-index: 4;
    height: 108px;
    bottom: 108px;
    left: 45%;
    width: 10%;

    .vs {
      line-height: 2.6em;
      text-align: center;
      font-size: 3em;
      color: white;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .voting-container{
    position: absolute;
    bottom: 0;
    width:100%;
    z-index: 3;
    height: 108px;
  }
  .voting-section{

  }
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .vote {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;

    .vote-button {
      margin-top: 0.5em;
      padding-bottom: 1.5em;
      span{
        color: white;
        font-size: 2em;
      }

    }
  }
  .voters {
    text-align: left;
    margin: auto 0;
    vertical-align: middle;
    height: 100%;
  }
}
.ui-helper-hidden-accessible { display:none; }
#deadline-picker {
  width: 20em
}

.vote-symbol {
  font-weight: lighter;
  font-size: xx-large;
  color: rgba(255, 70, 70, 0.85);
}

.bootstrap-datetimepicker-widget {
  color: black;
  a {
    color: blue;
  }
}